.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-texto-banner);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.linkSublinhado {
    text-decoration: underline;
}

