.banner {
    background: linear-gradient(var(--banner-cor-media),var(--banner-cor-escura),var(--banner-cor-media));
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 350px;
    font-family: var(--fonte-principal);
}

.informacoes {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--cor-texto-banner);
    font-style: italic;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    font-size: 3rem;
    width: 30%;
}

.texto {
    display: flex;
    padding: 2rem;
    text-align: justify;
    width: 30%;
    font-size: 1.3rem;
}

.bannerImg {
    display: flex;
    justify-content: center;
    max-height: 320px;
    max-width: 400px;
    margin-left: 1.8rem;
    border-radius: 20px;
    border: 1px solid var(--cor-texto-banner);
}

.bannerImg:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}