.banner {
    background: linear-gradient(#1f0b03,#0e0401,#1f0b03 );
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 350px;
}

.informacoes {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--cor-texto-banner);
    font-style: italic;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    width: 30%;
}

.texto {
    display: flex;
    padding: 2rem;
    text-align: justify;
    width: 30%;
}

.bannerImg {
    display: flex;
    justify-content: center;
    max-height: 340px;
    max-width: 550px;
    border-radius: 20px;
    border: 1px solid var(--cor-texto-banner);
}

.bannerImg:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}