.paragrafo {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic;
}

.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
    font-style: italic;
}

@media (max-width: 1100px) {

    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .paragrafo {
        margin-bottom: 1.5rem;
    }

}

@media (max-width: 480px) {

    .titulo {
        font-size: 3rem;
        text-align: center;
    }

    .paragrafo {
        display: flex;
        text-align: center;
    }
}