.banner {
    padding: 3rem 7.5rem 6.25rem;
    background: linear-gradient(var(--banner-cor-escura), var(--banner-cor-media), var(--banner-cor-clara));
    color: var(--cor-texto-banner);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imagens {
    position: relative;
    height: 400px;
}

.imagem:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.imagens>.imagem {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28vw;
    height: 38vh;
    border-radius: 20px;
    border: 1px solid var(--cor-texto-banner);
}

@media (max-width: 1100px) {
    .banner {
        padding: 3.5rem 1.5rem;
    }

    .imagens {
        height: 338px;
    }

    .imagens>.minhaFoto {
        width: 25vw;
    }

    .imagens>.circuloColorido {
        right: 10vw;
        width: 35vw;
    }
}

@media (max-width: 480px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }

    .imagens {
        height: 320px;
    }

    .imagens>.imagem,
    .imagens>.circuloColorido {
        left: 0;
        right: 0;
        margin: 0 auto;
        min-width: 300px;
    }

}